<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/detail.js}"></script>
    <title>조회</title>
</head>
<body>

<div>
    <h2>조회</h2>
    <hr>
    <div>
        <span>id: [[${post.id}]]</span>
        <span>작성일: [[${#temporals.format(post.regdate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
        <span>조회수: [[${post.viewcnt}]]</span>
    </div>


    <section>
        <!-- 삭제 기능 -->
        <form name="frmDelete" th:action="@{/board/delete}" method="post">
            <input type="hidden" name="id" th:value="${post.id}">
        </form>
        <!-- 삭제 기능 -->


        <div>
            <label>작성자:</label>
            <span th:text="${post.user.username}"></span>
        </div>
        <div>
            <label>제목:</label>
            <span th:text="${post.subject}"></span>
        </div>
        <div>
            <label>내용:</label>
            <span th:utext="${post.content}"></span>
        </div>


        <!-- 하단 링크 -->
        <div>
            <a th:href="@{'/board/update/' + ${post.id}}">수정</a>
            <a th:href="@{/board/list}">목록</a>
            <button type="button" id="btnDel">삭제</button>
            <a th:href="@{/board/write}">작성</a>
        </div>
        <!-- 하단 링크 -->

        <!-- 댓글 -->
        <th:block th:insert="~{board/comment::comment}"></th:block>
        <!-- 댓글 -->

    </section>
</div>

</body>
</html>