<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/list.js}"></script>

    <title>목록</title>
</head>

<body>

<h2>목록</h2>

<!-- 페이징 헤더 -->
<div class="mb-3 mt-3 clearfix">
    <span>총 [[${cnt}]]개</span>
    <span>page [[${page}]]/[[${totalPage}]]</span>
    <span>
        <form name="frmPageRows">
            <input type="hidden" name="page" th:value="${page}">
            <select name="pageRows">
                <option value="10" th:selected="${pageRows==10}">10</option>
                <option value="15" th:selected="${pageRows==15}">15</option>
                <option value="20" th:selected="${pageRows==20}">20</option>
                <option value="50" th:selected="${pageRows==50}">50</option>
            </select>
        </form>
    </span>
</div>
<!-- 페이징 헤더 -->

<div style="display: flex;">

    <!-- 지역명 선택란 -->
    <div>
        <span th:if="${selectareacode}">지역: [[${selectareacode.name}]]</span>
        <span th:unless="${selectareacode}">지역: 전체</span>
        <!-- default 전체 areacode 있으면 지역 전부 표시 -->
        <form th:action="@{/board/list}" method="post" th:each="areacode : ${areacode}" style="display: flex; flex-direction: column; justify-content: center;">
            <button name="areacode" th:text="${areacode.name}" th:value="${areacode.areacode}"></button>
        </form>
    </div>


    <!-- 게시판 -->
    <div>
        <div>
            <a th:href="@{/board/write}" style="margin-left: 400px">작성</a>
        </div>
        <hr>
        <table>
            <thead>
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>작성일</th>
                <th>좋아요</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${list}">
                <td th:text="${post.id}"></td>
                <td><a th:href="@{'/board/detail/' + ${post.id}}" th:text="${post.subject}"></a> </td>
                <td th:text="${post.user.username}">John</td>
                <td th:text="${post.viewcnt}">23</td>
                <td th:text="${#temporals.format(post.regdate, 'yyyy-MM-dd HH:mm:ss')}">2021-03-21</td>
                <td>20</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 목록 -->
</div>

<!-- pagination-->
<th:block th:insert="~{board/pagination::pagination}"></th:block>
<!-- pagination-->

</body>
</html>