<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pagination">
    <div class="page">
        <ul>
            <!--/* << 표시여부 지역 게시판은 areacode 를 받아야해서 추가 */-->
            <li class="page-item" th:if="${page > 1}" th:unless="${selectareacode}"><a class="page-link" th:href="${url}" th:title="처음"><<</a></li>
            <li class="page-item" th:if="${page > 1} and ${selectareacode}"><a class="page-link" th:href="@{${url}(areacode=${selectareacode.areacode})}" th:title="처음"><<</a></li>

            <!--/* < 표시 여부 지역 게시판은 areacode 를 받아야해서 추가 */-->
            <li class="page-item" th:if="${startPage > 1 }" th:unless="${selectareacode}"><a class="page-link" th:href="@{${url }(page=${startPage - 1 })}"><</a></li>
            <li class="page-item" th:if="${startPage > 1 } and ${selectareacode}"><a class="page-link" th:href="@{${url }(page=${startPage - 1 }, areacode=${selectareacode.areacode})}"><</a></li>


            <!--/* 페이징 안의 '숫자' 표시 */-->
            <th:block th:if="${totalPage > 1 }">
                <th:block th:each="k: ${#numbers.sequence(startPage, endPage)}">
                    <!--/* 지역 게시판은 areacode 를 받아야해서 추가 */-->
                    <li class="page-item" th:unless="${k == page }" th:if="${selectareacode}"><a class="page-link" th:href="@{${url }(page=${k}, areacode=${selectareacode.areacode})}" th:text="${k}"></a></li>
                    <li class="page-item" th:unless="${k == page } or ${selectareacode}"><a class="page-link" th:href="@{${url }(page=${k})}" th:text="${k}"></a></li>
                    <li class="page-item active" th:if="${k == page }"><a class="page-link active" href="javascript:void(0);" th:text="${k}"></a></li>
                </th:block>
            </th:block>


            <!--/* > 표시 여부 지역 게시판은 areacode 를 받아야해서 추가*/-->
            <li class="page-item" th:if="${totalPage > endPage }" th:unless="${selectareacode}"><a class="page-link" th:href="@{${url }(page=${endPage + 1 })}">></a></li>
            <li class="page-item" th:if="${totalPage > endPage } and ${selectareacode}"><a class="page-link" th:href="@{${url }(page=${endPage + 1 }, areacode=${selectareacode.areacode})}">></a></li>


            <!--/* >> 표시 여부 지역 게시판은 areacode 를 받아야해서 추가 */-->
            <li class="page-item" th:if="${page < totalPage }" th:unless="${selectareacode}"><a class="page-link" th:href="@{${url}(page=${totalPage})}">>></a></li>
            <li class="page-item" th:if="${page < totalPage } and ${selectareacode}"><a class="page-link" th:href="@{${url}(page=${totalPage}, areacode=${selectareacode.areacode})}">>></a></li>

        </ul>
    </div>
</th:block>

</html>