<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/fcca3fae9a.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/categoryTable.css">
<link rel="stylesheet" href="/css/detail.css">
<link rel="stylesheet" href="/css/nav.css">

<div id="wrap" >

    <th:block th:insert="~{fragment/navbar::navbar}"></th:block>
    <th:block th:insert="~{fragment/navbar::loginModal}"></th:block>


    <div id="travellist">
        <th:block th:fragment="travelCategory">

            <div class="category-item" th:switch="${categoryId}">
                <span th:case="12">관광지</span>
                <span th:case="15">축제·공연·행사</span>
            </div>

            <div class="area">
                <div class="region-category-container">

                    <div class="region-selected">
                        <li class="region-selected">전체</li>
                    </div>
                    <ul>
                        <li class="region-category-list"
                            th:each="area : ${areacode}"
                            th:data-subcategory="${area.areacode}"
                            th:data-name="${area.name}"
                            th:text="${area.name}">지역이름
                        </li>
                    </ul>
                </div>
                <th:block th:with="categoryId=${categoryId}"></th:block>
                <div class="region-subcategory-container" th:each="area : ${areacode}" th:id="${area.areacode}">
                    <ul>
                        <th:block th:with="sigunguVariable=${'sigungucodes_' + area.areacode}">
                            <li class="region-subcategory-list"
                                th:each="sigungucode : ${#vars[sigunguVariable]}"
                                th:data-subcategory="${area.areacode + '-' + sigungucode.sigungucode}"
                                th:data-name="${sigungucode.name}"
                                th:text="${sigungucode.name}">시군구이름
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>

            <div class="catetype">
                <!-- 여행 분류 섹션 -->
                <th:block th:each="decode : ${decodes}">
                    <th:block th:with="travelDecode=${'decode_' + decode}">
                        <th:block th:with="travelVariable=${'travelClassDetail_' + decode}">
                            <th:block th:if="${#vars[travelDecode] == null}">
                                <!-- 대분류 -->

                                <div class="category-item" th:switch="${categoryId}">
                                    <span th:case="12">여행분류</span>
                                    <span th:case="15">축제분류</span>
                                </div>
                                <div class="category-container">
                                    <div class="category-selected">
                                        <li class="category-selected"> 전체</li>
                                    </div>
                                    <ul style="display: flex;">
                                        <li class="category-list"
                                            th:each="travel : ${#vars[travelVariable]}"
                                            th:data-subcategory="${travel.code}"
                                            th:data-name="${travel.name}"
                                            th:text="${travel.name}">대분류1
                                        </li>
                                    </ul>
                                </div>
                            </th:block>


                            <th:block
                                    th:if="${#vars[travelDecode] != null and #strings.length(#vars[travelDecode]) == 3}">
                                <!-- 중분류 -->
                                <div class="middle-container" th:id="${#vars[travelDecode]}">
                                    <ul>
                                        <li class="middle-list"
                                            th:each="travel : ${#vars[travelVariable]}"
                                            th:data-subcategory="${travel.decode + '-' + travel.code}"
                                            th:data-name="${travel.name}"
                                            th:text="${travel.name}">중분류
                                        </li>
                                    </ul>
                                </div>
                            </th:block>

                            <th:block
                                    th:if="${#vars[travelDecode] != null and #strings.length(#vars[travelDecode]) == 5}">
                                <!-- 소분류 -->
                                <div class="small-container"
                                     th:id="${#strings.substring(#vars[travelDecode], 0, 3) + '-' + #vars[travelDecode]}">
                                    <ul>
                                        <li class="small-list"
                                            th:each="travel : ${#vars[travelVariable]}"
                                            th:data-subcategory="${travel.decode.substring(0, 3) + '-' + travel.decode + '-' + travel.code}"
                                            th:data-name="${travel.name}"
                                            th:text="${travel.name}">소분류
                                        </li>
                                    </ul>
                                </div>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
        </th:block>

        <th:block th:insert="~{fragment/travelSearch::search}"></th:block>


        <div class="site-container">
            <h2> 검색 결과</h2>
            <div id="categoryResults" class="item-container">
                <!-- 검색 결과가 여기에 삽입됩니다. -->
            </div>
        </div>

        <div class="loading" id="loading">Loading...</div>
    </div>

    <th:block th:insert="~{fragment/footer::footer}"></th:block>
</div>

<script th:inline="javascript" th:with="loggedUser=${loggedUser}">
    /*<![CDATA[*/
    var loggedUser = [[${loggedUser}]] ;
    var categoryId = [[${categoryId}]] ;
    /*]]>*/
</script>

<script src="/js/categoryTable.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/modallogin.js"></script>

</html>