<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
</head>
<body>
<h1>Weather Forecast</h1>
<table border="1">
    <thead>
    <tr>
        <th>Category</th>
        <th>Forecast Date</th>
        <th>Forecast Time</th>
        <th>Forecast Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.category}"></td>
        <td th:text="${item.fcstDate}"></td>
        <td th:text="${item.fcstTime}"></td>
        <td th:text="${item.fcstValue}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
