<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" th:href="@{/css/kategoryTable.css}">

<th:block th:fragment="travelCategory">


    <div class="category-item">지역</div>

    <div class="region-category-container">

        <div class="region-selected">
            전체
        </div>

        <div style="display: flex; flex-wrap: wrap;" >
            <a href="#" class="region-category-link"
               th:each="area : ${areacode}"
               th:data-subcategory="${area.areacode}"
               th:data-name="${area.name}"
               th:text="${area.name}">지역이름</a>
        </div>
    </div>

    <div class="region-subcategory-container" th:each="area : ${areacode}" th:id="${area.areacode}"
         style="display: none; flex-wrap: wrap;">
        <th:block th:with="sigunguVariable=${'sigungucodes_' + area.areacode}">
            <a href="#" class="region-subcategory-link"
               th:each="sigungucode : ${#vars[sigunguVariable]}"
               th:data-subcategory="${area.areacode + '-' + sigungucode.sigungucode}"
               th:data-name="${sigungucode.name}"
               th:text="${sigungucode.name}">시군구이름</a>
        </th:block>
    </div>


    <!-- 여행 분류 섹션 -->
    <div th:each="decode : ${decodes}">
        <th:block th:with="travelDecode=${'decode_' + decode}">
            <th:block th:with="travelVariable=${'travelClassDetail_' + decode}">
                <!-- 대분류 -->
                <th:block th:if="${#vars[travelDecode] == null}">
                    <div class="category-item">여행분류 (대분류)</div>
                    <div class="category-container">
                        <div class="category-selected">전체</div>
                        <div style="display: flex;">
                            <a href="#" class="category-link"
                               th:each="travel : ${#vars[travelVariable]}"
                               th:data-subcategory="${travel.code}"
                               th:data-name="${travel.name}"
                               th:text="${travel.name}">대분류1</a>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </th:block>
    </div>

    <div th:each="decode : ${decodes}">
        <th:block th:with="travelDecode=${'decode_' + decode}">
            <th:block th:with="travelVariable=${'travelClassDetail_' + decode}">
                <!-- 중분류 -->
                <th:block th:if="${#vars[travelDecode] != null and #strings.length(#vars[travelDecode]) == 3}">
                    <div class="middle-container" th:id="${#vars[travelDecode]}" style="display: none;">
                            <a href="#" class="middle-link"
                               th:each="travel : ${#vars[travelVariable]}"
                               th:data-subcategory="${travel.decode + '-' + travel.code}"
                               th:data-name="${travel.name}"
                               th:text="${travel.name}">중분류</a>
                    </div>
                </th:block>
            </th:block>
        </th:block>
    </div>

    <div th:each="decode : ${decodes}">
        <th:block th:with="travelDecode=${'decode_' + decode}">
            <th:block th:with="travelVariable=${'travelClassDetail_' + decode}">
                <!-- 소분류 -->
                <th:block th:if="${#vars[travelDecode] != null and #strings.length(#vars[travelDecode]) == 5}">
                    <div class="small-container"
                         th:id="${#strings.substring(#vars[travelDecode], 0, 3) + '-' + #vars[travelDecode]}"
                         style="display: none;;">
                            <a href="#" class="small-link"
                               th:each="travel : ${#vars[travelVariable]}"
                               th:data-subcategory="${travel.decode.substring(0, 3) + '-' + travel.decode + '-' + travel.code}"
                               th:data-name="${travel.name}"
                               th:text="${travel.name}">소분류</a>
                    </div>
                </th:block>
            </th:block>
        </th:block>
    </div>

</th:block>


<script>
    $(document).ready(function () {
        // 지역 카테고리 클릭 이벤트 처리
        $('.region-category-link').click(function (event) {
            event.preventDefault();
            const region = $(this).data('subcategory');
            const regionName = $(this).data('name');

            // 선택한 지역을 1번 항목에 표시
            updateSelectedRegionDisplay(region, regionName);

            // 다른 지역 카테고리 링크 숨기기
            hideOtherRegionCategories();

            // 선택한 지역의 시군구 카테고리 표시
            showSelectedRegionSubcategories(region);

            // 시군구 카테고리 클릭 이벤트 처리
            $('.region-subcategory-link').off('click').click(function (event) {
                event.preventDefault();
                const sigungu = $(this).data('subcategory');
                const sigunguName = $(this).data('name');

                // 선택한 시군구 지역을 1번 항목에 표시
                updateSelectedRegionDisplay(region, regionName, sigungu, sigunguName);

                // 선택한 시군구 카테고리 강조
                highlightSelectedSubcategory(region, sigungu);
            });
        });

        // 선택한 지역을 초기 상태로 돌려놓는 기능
        $('.region-selected').on('click', 'a', function (event) {
            event.preventDefault(); // Prevent the default action of the link
            const subcategory = $(this).data('subcategory');
            const subcategoryName = $(this).prevAll('[data-name]').first().data('name');

            const subcategoryStr = String(subcategory);

            if (subcategory === undefined || !subcategoryStr.includes('-')) {
                resetSelectedRegion();
                return;
            }

            const subcategoryParts = subcategory.split('-');

            if (subcategoryParts.length === 2) {
                // '-' 문자가 1개 있는 경우

                const parentContainerId = subcategoryParts[0];
                const categoryValue = subcategoryParts[1];

                $('.region-subcategory-link').css('color', '');

                // 선택한 시군구 지역을 1번 항목에 표시
                updateSelectedRegionDisplay(parentContainerId, subcategoryName);

                // 선택한 시군구 카테고리 강조
                highlightSelectedSubcategory(parentContainerId, categoryValue);

            } else {
                // 지역 항목으로 복귀
                resetSelectedRegion();

            }

        });
    });


    function updateSelectedRegionDisplay(region, regionName, sigungu = '', sigunguName = '') {
        // 선택한 지역 표시 업데이트
        const selectedRegionDisplay = $('.region-selected');

        const categoryPath = [];
        if (region) {
            categoryPath.push(`<a href="#" class="region-selected" data-subcategory="${region}" data-name="${regionName}">${regionName}</a>`);
        }

        if (sigungu) {
            categoryPath.push(`<a href="#" class="region-selected" data-subcategory="${sigungu}" data-name="${sigunguName}">${sigunguName}</a>`);
        }

        selectedRegionDisplay.html('<a href="#" class="region-selected"> 전체 </a> > ' + categoryPath.join(' > '));

    }

    function hideOtherRegionCategories() {
        // 다른 지역 카테고리 링크 숨기기
        $('.region-category-link').hide();
    }

    function showSelectedRegionSubcategories(sigungu) {
        // 선택한 지역의 시군구 카테고리 표시
        $('.region-subcategory-container').hide();
        $('#' + sigungu).show();
    }

    function highlightSelectedSubcategory(area, sigungu) {
        // 선택한 시군구 카테고리 강조
        $('#' + area + ' .region-subcategory-link').css('color', '');
        $('#' + area + ' .region-subcategory-link[data-subcategory="' + sigungu + '"]').css('color', 'red');
    }

    function resetSelectedRegion() {
        // 선택한 지역 표시 초기화
        $('.region-selected').text('전체');

        // 모든 지역 카테고리 링크 표시
        $('.region-category-link').show();

        // 모든 시군구 카테고리 숨기기
        $('.region-subcategory-container').hide();

        // 시군구 카테고리 강조 초기화
        $('.region-subcategory-link').css('color', '');
    }


    $(document).ready(function () {
        // 대분류 카테고리 클릭 이벤트 처리
        $('.category-link').click(function (event) {
            event.preventDefault();
            const big = $(this).data('subcategory');
            console.log(big);

            // 선택한 대분류를 1번 항목에 표시
            updateSelectedCategoryDisplay(big);

            // 다른 대분류 카테고리 링크 숨기기
            hideOtherCategoryCategories();

            // 선택한 대분류의 중분류 카테고리 표시
            showSelectedCategorySubcategories(big);

            // 중분류 카테고리 클릭 이벤트 처리
            $('.middle-link').off('click').on('click', function (event) {
                event.preventDefault();
                const middle = $(this).data('subcategory');

                // 선택한 중분류를 대분류 1번 항목에 표시
                updateSelectedCategoryDisplay(big, middle);

                // 다른 중분류 카테고리 링크 숨기기
                hideOtherCategoryCategories(middle);

                // 선택한 중분류의 소분류 카테고리 표시
                showSelectedCategorySubcategories(middle);

                // 소분류 카테고리 클릭 이벤트 처리
                $('.small-link').off('click').on('click', function (event) {
                    event.preventDefault();
                    const small = $(this).data('subcategory');

                    // 선택한 소분류를 대분류 1번 항목에 표시
                    updateSelectedCategoryDisplay(big, middle, small);

                    // 선택한 소분류 카테고리 강조
                    highlightSelectedCategorySubcategory(small);
                });
            });

            // 선택한 카테고리 초기 상태로 돌려놓는 기능
            $('.category-selected').on('click', 'a', function (event) {
                event.preventDefault(); // Prevent the default action of the link
                const subcategory = $(this).data('subcategory');
                console.log(subcategory);
                if (subcategory === undefined) {
                    resetSelectedCategory();
                    return;
                }

                const subcategoryParts = subcategory.split('-');

                if (subcategoryParts.length === 2) {
                    // '-' 문자가 1개 있는 경우

                    const parentContainerId = subcategoryParts[0];
                    const categoryValue = subcategoryParts[1];

                    $('.middle-link').show();
                    $('.middle-container').hide();
                    $('.small-link').css('color', '');

                    // 선택한 대분류를 1번 항목에 표시
                    updateSelectedCategoryDisplay(parentContainerId);

                    // 다른 대분류 카테고리 링크 숨기기
                    hideOtherCategoryCategories();

                    // 선택한 대분류의 중분류 카테고리 표시
                    showSelectedCategorySubcategories(parentContainerId);
                } else if (subcategoryParts.length === 3) {
                    // '-' 문자가 2개 있는 경우

                    const parentContainerId = subcategoryParts[0];
                    const middleCategoryValue = subcategoryParts[0] + '-' + subcategoryParts[1];
                    const smallCategoryValue = subcategoryParts[2];

                    // 선택한 중분류를 대분류 1번 항목에 표시
                    updateSelectedCategoryDisplay(parentContainerId, middleCategoryValue);

                    // 다른 중분류 카테고리 링크 숨기기
                    hideOtherCategoryCategories(middleCategoryValue);

                    // 선택한 중분류의 소분류 카테고리 표시
                    showSelectedCategorySubcategories(middleCategoryValue);

                    $('.small-link').css('color', '');

                } else {
                    // 대분류 항목으로 복귀
                    resetSelectedCategory();
                }

                console.log(subcategory); // Output the data-subcategory value
            });

        });

        function updateSelectedCategoryDisplay(big, middle = '', small = '') {
            // 선택한 대분류 표시 업데이트
            const selectedCategoryDisplay = $('.category-selected');
            const categoryPath = [];
            if (big) {
                categoryPath.push(`<a href="#" class="category-selected" data-subcategory="${big}">${big}</a>`);
            }

            if (middle) {
                categoryPath.push(`<a href="#" class="category-selected" data-subcategory="${middle}">${middle}</a>`);
            }

            if (small) {
                categoryPath.push(`<a href="#" class="category-selected" data-subcategory="${small}">${small}</a>`);
            }

            selectedCategoryDisplay.html('<a href="#" class="category-selected"> 전체 </a> > ' + categoryPath.join(' > '));

        }

        function hideOtherCategoryCategories(middle = '', small = '') {
            // 다른 대분류 카테고리 링크 숨기기
            $('.category-link').hide();
            if (middle) {
                $('.middle-link').hide();
                $('[data-subcategory="' + middle + '"]').show();
            } else if (small) {
                $('.small-link').hide();
                $('[data-subcategory="' + small + '"]').show();
            } else {
                $('.middle-container, .small-container').hide();
            }
        }

        function showSelectedCategorySubcategories(big, middle = '') {
            // 선택한 대분류의 중분류 카테고리 표시
            if (middle) {
                $('.middle-container, .small-container').hide();
                $('#' + middle).show();
            } else if (big) {
                $('.middle-container, .small-container').hide();
                $('#' + big).show();
            }
        }

        function highlightSelectedCategorySubcategory(small) {
            // 선택한 소분류 카테고리 강조
            $('.small-link').css('color', '');
            $('.small-link[data-subcategory="' + small + '"]').css('color', 'red');
        }

        function resetSelectedCategory() {
            // 선택한 카테고리 표시 초기화
            const selectedRegionDisplay = $('.category-selected');
            selectedRegionDisplay.text('선택한 카테고리 // ');
            selectedRegionDisplay.removeAttr('data-subcategory');

            // 모든 카테고리 링크 표시
            $('.category-link').show();

            // 모든 중분류, 소분류 카테고리 숨기기

            $('.middle-link').show();
            $('.small-link').show();

            $('.middle-container').hide();
            $('.small-container').hide();


            // 소분류 카테고리 강조 초기화
            $('.small-link').css('color', '');
        }
    });

</script>

</html>