<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <title th:text="${post.title}"></title>

    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=22d9b94181d1047695b69ce686213e6a&libraries=services"></script>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=04f2a8050054f9bc4f2acd74c6e8c884&libraries=services"></script>
<!--    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>-->
    <script src="https://kit.fontawesome.com/fcca3fae9a.js" crossorigin="anonymous"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-KK8LFW3LEV"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div id="wrap" >
    <!-- header -->
    <th:block th:insert="~{fragment/navbar::navbar}"></th:block>
    <th:block th:insert="~{fragment/navbar::loginModal}"></th:block>

    <div class="bg-top"></div>

    <main>
        <section class="sub">
            <div class="view tour">
                <article class="content">
                    <div class="top-wrap">
                        <div class="tit">
                            <h2 th:utext="${post.title}"></h2>
                            <span class="txt" th:text="${post.addr1}"></span>
                        </div>
                        <div class="util">
                            <a th:if="${!#strings.isEmpty(post.homepage)}"
                               th:href="${post.homepage}"
                               target="_blank"
                               class="btn-home">홈페이지</a>
                        </div>
                    </div>
                    <div class="gallery">
                        <img th:if="${!#strings.isEmpty(post.firstimage)}"
                            th:src="${post.firstimage}" alt="" >
                    </div>

                    <div class="title">
                        <h4>상세정보</h4>
                    </div>
                    <div class="detail">
                        <p class="desc" th:utext="${post.overview}"></p>

                        <h5 class="hide">지도보기</h5>
                        <div class="map_wrap">
                            <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                            <ul id="category">
                                <li id="CE7" data-order="0">
                                    <span class="category_bg coffee"></span>
                                    카페
                                </li>
                                <li id="FD6" data-order="1">
                                    <span class="category_bg food"></span>
                                    음식점
                                </li>
                                <li id="PK6" data-order="2">
                                    <span class="category_bg park"></span>
                                    주차장
                                </li>
                            </ul>
                        </div>


                        <h5 class="hide">세부정보</h5>
                        <dl class="info">
                            <dt>홈페이지</dt>
                            <dd class="homepage">
                                <a th:if="${!#strings.isEmpty(post.homepage)}"
                                   th:href="${post.homepage}"
                                   target="_blank"
                                   th:text="${#strings.isEmpty(post.homepage) ? '없음' : post.homepage}">홈페이지</a>
                            </dd>
                            <dt>주소</dt>
                            <dd th:utext= "${#strings.isEmpty(post.addr1) ? '없음' : post.addr1}"></dd>
                            <dt>문의 및 안내</dt>
                            <dd th:utext= "${#strings.isEmpty(post.infocenter) ? '없음' : post.infocenter}" ></dd>
                            <dt>이용시간</dt>
                            <dd th:utext="${#strings.isEmpty(post.usetime) ? '상시' : post.usetime}"></dd>
                            <dt>휴일</dt>
                            <dd th:utext="${#strings.isEmpty(post.restdate) ? '없음' : post.restdate}"></dd>
                            <dt>주차시설</dt>
                            <dd th:utext="${#strings.isEmpty(post.parking) ? '없음' : post.parking}"></dd>
                        </dl>
                    </div>

                    <div class="like-container">
                        <button class="like-button"></button>
                        <span class="like-count">0</span>
                    </div>

                    <div class="title justify">
                        <h4>관련 블로그 리뷰</h4>
                        <a th:href="'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=' + ${post.title}" target="_blank" class="btn-search">네이버 검색 바로가기</a>
                    </div>
                    <div class="blog">
                        <ul id="blogList">
                            <li th:each="blog : ${blogReview}">
                                <div>
                                    <a th:href="${blog.link}" target="_blank" class="tit">
                                        <strong th:utext="${blog.title}"></strong>
                                        <span th:text="${#strings.substring(blog.postdate, 2, 4)} + '.' + ${#strings.substring(blog.postdate, 4, 6)} + '.' + ${#strings.substring(blog.postdate, 6, 8)}"></span>
                                    </a>
                                    <a th:href="${blog.link}" target="_blank" class="desc" th:utext="${blog.description}"></a>
                                </div>
                            </li>
                        </ul>
                        <button id="loadMore" onclick="loadMore()">블로그 더보기</button>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <!-- //container -->

    <th:block th:insert="~{fragment/footer::footer}"></th:block>

</div>

<script th:inline="javascript" th:with="loggedUser=${loggedUser}">
    /*<![CDATA[*/
    var postId = [[${post.id}]];
    var postContentid = [[${post.contentid}]];
    var loggedUser = [[${loggedUser}]];
    var post = /*[[${post}]]*/ {};
    /*]]>*/
</script>
<script src="/js/blog.js"></script>
<script src="/js/map.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/travelLike.js"></script>
<script src="/js/modallogin.js"></script>
</body>
</html>