<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="search">
    <div class="search-container">

        <form id="searchForm">
            <label for="searchQuery"></label>
            <input type="text" id="searchQuery" name="searchQuery" placeholder="검색어를 입력해 주세요." required>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="search-result">

    </div>

</th:block>

</html>