
body {
    margin: 0;
}

.board {
    display: flex;
    justify-content: space-around;
}

.post .conA {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.board .writeBtn {

    text-decoration: none;
    color: #99209b;
}

.post table {
    width: 800px;
    height: 800px;
    border-spacing: 0;


}

.post th,td {
    margin: 0;
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid black;
    align-items: center;

}

.tbody a{
    width: 80px;
}

.areaMenu button{
    background-color: skyblue;
    border: none;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;

}

.areaMenu button:hover{
    background-color: dodgerblue;
}
