body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;

}

.body-container {
    width: 1000px;
    margin: auto;
}

.body-container h2 {
    color: #333;
}

.body-container form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 960px; /* 최대 너비 설정 */
    margin: 150px auto 50px auto; /* 가운데 정렬 */
}

.body-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.body-container input[type="text"],
.body-container textarea,
.body-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.body-container textarea {
    resize: vertical;
    min-height: 150px;
}

.body-container .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-container .links button[type="submit"],
.body-container .links button[type="button"],
.body-container .links a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.body-container .links button[type="button"] {
    background-color: #6b82a7;
}

.body-container .links button[type="submit"] {
    background-color: #6b82a7;
}
.body-container .links a {
    background-color: #6b82a7;
}

.body-container .links button[type="submit"]:hover,
.body-container .links button[type="button"]:hover,
.body-container .links a:hover {
    opacity: 0.8;
}

.body-container hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.body-container span {
    display: block;
    margin-bottom: 10px;
    color: #777;
}

.body-container #files {
    margin-bottom: 15px;
}

.body-container #files button{
    background-color: #6b82a7;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    margin-bottom: 10px;
}

.body-container #btnAdd {
    margin-top: 10px;
    background-color: #6b82a7;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
}

.body-container .ck-editor__editable {
    min-height: 300px;
}

.body-container .exFiles {
    display: flex;
    margin: 15px 0;
}

.body-container .exFiles input[type="text"] {
    width: auto;
    margin: 0;
}

.body-container .exFiles button[type="button"] {
    margin: 0;
    padding: 10px;
    border-radius: 4px;
    background-color: #6b82a7;
    color: white;
}

.body-container .exFiles button[type="button"]:hover {
    opacity: 0.8;
}

.update-post-id {
    float: right;
    font-size: 15px;
    margin-top: 10px;
}