body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.body-container {
    width: 1000px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 960px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

button[type="submit"],
button[type="button"],
a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

button[type="button"] {
    background-color: #0275d8;
}

a {
    background-color: #d9534f;
}

button[type="submit"]:hover,
button[type="button"]:hover,
a:hover {
    opacity: 0.9;
}

hr {
    margin: 20px 0;
}

span {
    display: block;
    margin-bottom: 10px;
    color: #777;
}

span[style="color: red"] {
    color: red;
}

#files {
    margin-bottom: 15px;
}

#btnAdd {
    margin-top: 10px;
}

.ck-editor__editable {
    min-height: 300px;
}
.links {
    display: flex;
    justify-content: space-between;
}

/* Responsive Design */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    button[type="submit"],
    button[type="button"],
    a {
        padding: 8px 16px;
        font-size: 12px;
    }
}