
.category-container,
.region-category-container {
    background-color: #cc18186c;
    padding: 20px;
}

.category-container div ul,
.region-category-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-item {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

.region-category-list,
.category-list {
    display: block;
    align-items: center;
    color: #333;
}

.small-container,
.region-subcategory-container,
.middle-container {
    display: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    flex: 1 0 20%;
}

.small-container ul,
.region-subcategory-container ul,
.middle-container ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.category-list,
.region-category-list {
    text-decoration: none;
    color: #555;
    display: block;
    padding: 10px;
}

.small-list,
.region-subcategory-list,
.middle-list {
    color: #555;
    display: block;
    padding: 10px;
}

.category-selected li,
.region-selected li {
    display: inline-block;
}

