.login button {
    background: lightskyblue;
    width: 120px;
    height: 40px;
    margin: auto 0;
    border-radius: 4%;
    border: none;
    outline: none;
    font-size: 14px;
}

.login button:hover {
    cursor: pointer;
    background: #007bff;
}

.login button span {
    color: white;
}

h1.loginSuccess > span:first-of-type{
    cursor:pointer;
}
.login-profile {
    display: none;
    position: fixed;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 10px;
    width: 250px;
    height: 260px;
    font-size: 16px;
}

.login-profile .first {
    padding-bottom: 40px;
}
.login-profile .first span:nth-child(1){
    padding-bottom: 20px;
    text-align: center;

}

.login-profile .first span {
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}

.login-profile .first span span:nth-child(2) {
    margin-left: 10px;
    cursor: pointer;
}

.login-profile .second {
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-profile .second a {
    margin-left: 0;
    width: 50%;
}

.login-profile .third {
    margin: 10px 0;
    padding-top: 30px;
    text-align: center;
}

.login-profile .third a {
    margin-left: 0;
}


/*모달창 애니메이션 효과*/

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.2);
        transform: scaleY(0.2);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}
@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.2);
        transform: scaleY(0.2);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}
.modal-animate {
    animation: scale-up-ver-top 0.4s ease-in-out; /* 애니메이션 적용 */
}

/* 모달창 배경 스타일 */
#modalSign {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9050;
    overflow: auto;
}

/* 모달창 컨텐츠 스타일 */
#modalSign .modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
}

#modalSign .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

#modalSign .user{
    color: white;
    background-color: #007bff;
}
#modalSign .user:hover{
    background-color: lightskyblue;
}

#modalSign .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    position: relative; /* 자식 요소의 절대 위치를 기준으로 설정 */
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 1000;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    position: absolute; /* 절대 위치로 설정 */
    left: 50%; /* 왼쪽에서 50% 위치 */
    transform: translateX(-50%); /* 가운데 정렬 */
}

.close {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    padding: 0;
    background-color: transparent;
    border: none;
}


#modalSign .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

/* 모달창 본문 스타일 */
#modalSign .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

/* 모달창 푸터 스타일 */
#modalSign .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

#modalSign .modal-footer>* {
    margin: 0.25rem;
}

.close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
    cursor: pointer;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

/* 전체 폼 스타일 */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/* 입력 필드 스타일 */
.form-floating {
    margin-bottom: 1rem;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}

.form-control:focus {
    z-index: 2;
    border: 1px solid #007bff;
    outline: none;
}

/* 버튼 스타일 */
.btn-block {
    display: block;
    width: 100%;
}

/*.btn-block.kakao{*/
/*    background-image: url("../img/kakao_login2.png");*/
/*    background-size: 100% 100%; !* 이미지 크기를 조절 *!*/
/*    !*width: 260px;*!*/
/*    !*height: 40px;*!*/
/*    background-repeat: no-repeat; !* 이미지 반복 방지 *!*/
/*    background-position: center; !* 이미지 위치 *!*/
/*    display: inline-block; !* 인라인 블록으로 설정 *!*/
/*    text-indent: -9999px; !* 텍스트 숨기기 *!*/
/*    align-content: center;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.btn-block.google{*/
/*    background-image: url("../img/google_login2.png");*/
/*    background-size: 100% 100%; !* 이미지 크기를 조절 *!*/
/*    width: 300px;*/
/*    height: 45px;*/
/*    background-repeat: no-repeat; !* 이미지 반복 방지 *!*/
/*    background-position: center; !* 이미지 위치 *!*/
/*    display: inline-block; !* 인라인 블록으로 설정 *!*/
/*    text-indent: -9999px; !* 텍스트 숨기기 *!*/
/*    align-content: center;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.btn-block.naver{*/
/*    background-image: url("../img/naver_login2.png");*/
/*    background-size: 100% 100%; !* 이미지 크기를 조절 *!*/
/*    width: 300px;*/
/*    height: 60px;*/
/*    background-repeat: no-repeat; !* 이미지 반복 방지 *!*/
/*    background-position: center; !* 이미지 위치 *!*/
/*    display: inline-block; !* 인라인 블록으로 설정 *!*/
/*    text-indent: -9999px; !* 텍스트 숨기기 *!*/
/*    align-content: center;*/
/*    margin-bottom: 10px;*/
/*}*/

.btn {
    border-radius: 4%;
    height: 40px;
    margin: auto 0;
    border: none;
    outline: none;
    /*padding: auto 0;*/
    background-color: transparent;
}

/*.btn-lightblue{*/
/*    background-color: #007bff;*/
/*}*/


/* 간편 로그인 섹션 스타일 */
.h5 {
    margin-bottom: 10px;
    margin-top: 10px;
}



/*로그인 버튼*/

.btn.login{
    border: 1px solid #cccccc;
    border-radius: 10px;
}
.btn.kakao{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FFEB00;
    color: black;
}

.btn.kakao:hover{
    background-color: #E6D700; /* 조금 더 어두운 색상 */
}

.btn.kakao img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px; /* 이미지의 왼쪽 여백 조정 */
}

.btn.kakao span {
    margin-left: auto;
    margin-right: auto;
}

.btn.google{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
}

.btn.google:hover{
    background-color: #f1f1f1;
}

.btn.google img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px; /* 이미지의 왼쪽 여백 조정 */
}

.btn.google span {
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.btn.naver{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #1DC802;
    color: white;
}

.btn.naver:hover{
    background-color: #1AB402;
}

.btn.naver img {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 10px; /* 이미지의 왼쪽 여백 조정 */
}

.btn.naver span {
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.logo {
    background-image: url('../img/logo.png');
    background-size: contain; /* 이미지 크기를 조절 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: center; /* 이미지 위치 */
    width: 200px; /* 너비 설정 */
    height: 60px; /* 높이 설정 */
    display: inline-block; /* 인라인 블록으로 설정 */
    text-indent: -9999px; /* 텍스트 숨기기 */
}

